* {
	box-sizing: border-box;

}

body{
	background-color:ghostwhite;
	margin: 0;
	font-family: 'Inter', sans-serif;
}

h1{
	text-align: center;
	color:rgba(248, 177, 151, 0.39);
	font-size: 4rem;
	font-weight: 500;
	
}

form {
	max-width: 100%;
	width: 400px;
	margin: auto;
}

.input {
	font-size: 1rem;
	border: none;
	border-radius: 4px 4px 0 0;
	box-shadow: 0 0 4px rgba(0, 0, 0 , 0.1);
	width: 100%;
	display: block;
	padding: 1rem 2rem;
}

.input::placeholder{
	color:rgb(221, 221, 221)
}

.input_line{
	display: flex;
}


.list{
	background-color: #fff;
	padding: 0;
	margin: 0.2rem;
	list-style-type: none;

}

.list li {
	padding: 1rem 2rem;
	cursor: pointer;
}

.list li.completed{
	color:rgb(202, 202, 202);
	text-decoration: line-through;
}

small{
	text-align: center;
	font-size: 0.7rem;
	color:lightgray;
	font-weight: 200;
	margin: 0 115px;
}